<% require 'bookie/formatter' %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'list', media: 'all' %>
  <style type="text/css">
    table {
      width: auto;
    }
  </style>
<% end %>

<% content_for :heading do %>Users<% end %>

<div id="main">
  <div id="content">
    <table id="details" class="list">
      <tr>
        <th>Name</th>
      </tr>
      <% @users.all.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
