/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/*------------------------*/
/*Whole-application styles*/
/*------------------------*/

#message_error {
  color: #A00;
  list-style-type: none;
  padding: 0;
}
#message_alert {
  color: #A50;
  list-style-type: none;
  padding: 0;
}
#message_notice {
  color: #0A0;
  list-style-type: none;
  padding: 0;
}

div#main {
  display: table;
  width: 100%;
}

div#content {
  display: table-cell;
}

input[type=text] {
  border: 1px solid;
  border-color: #33A;
}

/* vim: ts=2:sw=2:et
 */
