div#content {
  padding-right: 20px;
}

div#controls {
  display: table-cell;
  width: 300px;
  min-width: 300px;

  h2 {
    margin-top: 0;
  }
  select {
    width: 100%;
  }
  input[type=checkbox] {
    margin-right: 0.5em;
  }
  input[type=submit] {
    float: right;
    width: 7em;
  }
}

div#select_prototypes {
  display: none;
}

div.filter {
  background-color: #88AAFF;
  border: 1px solid #7799FF;
  padding-top: 0.4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.4em;
  margin: 0px;
  margin-bottom: 1px;
  input[type=text] {
    width: 100%;
    clear: both;
  }
  .filter_remover {
    float: right;
    :hover {
      cursor: pointer;
    }
  }
}

/* vim: ts=2:sw=2:et
 */
