@import url("list.css");

div#tables {
  float: left;
  width: 75%;
  margin-right: 2%;
}

div#controls {
  width: 23%;
  float: left;
}
div#controls h2 {
  margin-top: 0;
}
div#controls select {
  width: 100%;
  min-width: 8em;
  max-width: 100%;
}
div#controls input[type=checkbox] {
  float: left;
  clear: left;
}
div#controls input[type=submit] {
  float: right;
  width: 7em;
}

div.filter input[type=text] {
  width: 80%;
}
div.filter .filter_remover {
  float: right;
}

