#message_error {
  color: #A00;
}
#message_alert {
  color: #A50;
}
#message_notice {
  color: #0A0;
}

div#tables {
  float: left;
  width: 75%;
  margin-right: 2%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5ex;
}
table caption {
  margin-bottom: 0.5ex;
  text-align: left;
  font-size: x-large;
  font-weight: bold;
}
td, th {
  border: 1px solid;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

table#summary th {
  width: 20%;
}

table#details tr:nth-child(even) {
  background: #DDDDDD;
}
table#details tr:nth-child(odd) {
  background: #FFFFFF;
}

div#controls {
  width: 23%;
  float: left;
}
div#controls h2 {
  margin-top: 0;
}
div#controls label {
  display: block;
  float: left;
  clear: both;
  width: 6em;
}
div#controls select {
  float: right;
  clear: right;
  min-width: 8em;
  max-width: 100%;
}
div#controls input[type=text] {
  width: 100%;
}
div#controls input[type=submit] {
  float: left;
  clear: both;
  width: 7em;
}
#filter_extras {
  display: none;
}
