ul#navigation {
  list-style: none;

  width: 100%;
  height: 30px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  color: #FFF;
  background-color: #000;

  a {
    color: #FFF;
    text-decoration: none;
  }

  li {
    display: inline-block;

    width: auto;
    height: 30px;
    margin: 0;
    padding: {
      left: 20px;
      right: 20px;
    }
    border: {
      right: 1px solid #BBB;
    }

    line-height: 30px;

    background-color: inherit;

    li {
      display: block;
    }
    
    ul {
      display: none;

      padding: 0;

      background-color: #000;
    }

    &:hover {
      background-color: #BBB;
    }

    &:hover > ul {
      display: block;
      position: absolute;

      top: auto;
      left: auto;

      margin-left: -20px;
    }
  }
}

/* vim: ts=2:sw=2:et
 */

