<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "list", :media => "all" %>
  <style type="text/css">
    table {
      width: auto;
    }
  </style>
<% end %>

<% content_for :heading do %>Web Users<% end %>

<div id="main">
  <div id="content">
    <table id="web_users">
      <caption>Users</caption>
      <tr>
        <th>E-mail address</th>
        <th colspan="2">Actions</th>
      </tr>
      <% @web_users.each do |web_user| %>
        <tr>
          <td><%= web_user.email %></td>
          <td>
            <% unless web_user.approved? %>
              <%= link_to 'Approve', "#{web_user_path(web_user.id)}/approve", :method => :patch %>
            <% end %>
          </td>
          <td><%= link_to 'Delete', web_user_path(web_user.id), :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

