<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "filter", :media => "all" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "filter" %>
<% end %>

<h1>Jobs</h1>

<div id="main">
  <div id="content">
    
  </div>
  
  <%= render :partial => 'shared/filters', :locals => {
    :filter_options => GraphsController::FILTER_ARG_COUNTS,
    :default_details => false
  } %>
</div>
