<h1>Account confirmation: <%= @web_user.email %></h1>

<p>
  We have created your Bookie Web interface account. Before you can use your account,
  you must set your password using the following link:

  <%= link_to @url, @url %>
</p>
