<h1>Reset password: <%= @web_user.email %></h1>

<p>
We have received a request to reset your account's password. If you wish to reset your password,
please use the following link:
</p>
<p>
  <a href="<%= raw(@url) %>"><%= @url %></a>
</p>
<p>
If you did not request this action, you may simply ignore this message.
</p>
