<% require 'bookie/formatter' %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'list', media: 'all' %>
<% end %>

<% content_for :heading do %>Systems<% end %>

<div id="main">
  <div id="content">
    <table id="systems" class="list">
      <tr>
        <th>Hostname</th>
        <th>Type</th>
        <th>Active</th>
      </tr>
      <% @systems.each do |system| %>
        <tr>
          <td><%= system.name %></td>
          <td><%= system.system_type.name %></td>
          <td><%= if system.active? then 'yes' else 'no' end %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
