div#tables {
  float: left;
  width: 75%;
  margin-right: 2%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5ex;
}
table caption {
  margin-bottom: 0.5ex;
  text-align: left;
  font-size: x-large;
  font-weight: bold;
}
td, th {
  border: 1px solid;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
tr:nth-child(even) {
  background: #DDDDDD;
}
tr:nth-child(odd) {
  background: #FFFFFF;
}

table#summary th {
  width: 20%;
}
table#summary tr {
  background: #FFFFFF;
}

table#details {
  display: none;
}

div#controls {
  width: 23%;
  float: left;
}
div#controls h2 {
  margin-top: 0;
}
div#controls label {
  display: block;
  width: 100%;
}
div#controls select {
  width: 30%;
}

div#controls input[type=submit] {
  width: 20%;
}
