table {
  float: left;
  width: 75%;
  margin-right: 2%;
  border-collapse: collapse;
}
td, th {
  border: 1px solid;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
tr:nth-child(even) {
  background: #DDDDDD;
}
tr:nth-child(odd) {
  background: #FFFFFF;
}
div#controls {
  width: 23%;
  float: left;
}
div#controls h2 {
  margin-top: 0;
}
div#controls label {
  display: block;
  width: 100%;
}
div#controls select {
  width: 30%;
}
div#controls input[type=submit] {
  width: 20%;
}
table#summary {
  clear: both;
}
table#summary caption {
  text-align: left;
  font-size: x-large;
  font-weight: bold;
}
table#summary th {
  width: 20%;
}
table#summary tr {
  background: #FFFFFF;
}
