<ul id="navigation">
  <li><a href="/jobs">Jobs</a>
    <ul>
      <li><a href="/jobs">Summary</a></li>
      <li><a href="/graphs">Graphs</a></li>
    </ul>
  </li>
  <li><a href="/systems">Systems</a></li>
  <li><a href="/users">Users</a></li>
</ul>

